.messages {
    font-size: large;
}

input {
    font-size: large;
}

.searchbar {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(16, 76, 113);
}

button {
    font-size: large;
}

.scrollable {
    background-color: #bd99c5;
    z-index: 0;
    font-size: large;
}
