.chatScreen__message {
    display: flex;
    align-items: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.chatScreen__text {
    margin-left: 10px;
    background-color: lightgray;
    padding: 15px;
    border-radius: 20px;
}

.chatScreen__timestamp {
    text-align: center;
    padding: 20px;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.chatScreen__textUser {
    margin-left: auto;
    background-color: #104c71;
    padding: 15px;
    border-radius: 20px;
    color: #fff;
}

.chatScreen__input {
    display: flex;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid lightgray;
    background-color: #800080;
}

.chaScreen__inputFeal {
    flex: 1;
    padding: 10px;
    border: none;
    background-color: rgb(255, 255, 255);
}

.chatScreen__inputButton {
    border: none;
    margin-right: 20px;
    background-color: #c6c6c6;
    font-weight: bolder;
    color: #800080;
    cursor: pointer;
}