.bg-container {
    background:rgb(189, 153, 197);
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    height: 200px;
    overflow: scroll;
}

.title {
    position: absolute;
    top:2%;
    right:0px;
    bottom:0px;
    left:33%;
    height: 1000px;
}

.heading {
    font-family: Arial, Helvetica, sans-serif;
    color: #FAF9F6;
}

h1 .heading-color{
    color:#104C71;
    font-size: 150%;
}

.sub-heading {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color:#FAF9F6 ;
}