.bg-container {
    background-image: url("https://pixabay.com/photos/handshake-shake-hands-hand-holding-4002834/");
    width:100%;
    height:100%; 
    border:5px solid red;
    box-sizing:border-box;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
}

body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
  }

img {
    object-fit:cover;
}