.bg-container {
    background:rgb(189, 153, 197);
    position:absolute;
    top:60px;
    right:0px;
    bottom:0px;
    left:0px;
    height: 1000px;
    overflow: scroll;
}

.jobs-list {
    height: 10000px;
}